@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Salsa&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Oswald', sans-serif;
}
img {
    max-width: 100%;
    position: relative;
    height: 100vh;
    padding: 1.4rem;
}
nav {
    background-color: #00E1ff;
    padding: 10px;
}

.hero {
   position: absolute;
   top: 50%;
    justify-content: space-between;
    display: flex;
   color: #00414A;
    width: 100%;
}
.hero-text {
    margin: 0 auto;
}
.signup-login {
    margin: 50px;
    text-align: center;
}
button {
    width: 20rem;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.sign-up {
    color: #00E1ff;
    background-color: #00414A;
}
.login {
    background-color: #00E1ff;
    color: #00414A;
}

/* Signup Form Styles */
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input {
    margin: 30px;
}
input {
    padding: 5px;
}
